html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f4efe9;
}

.jumbo {
    height: 40vw;
    width: 100%;
    background-position: center;
    background-size: cover;
    transform: scale(.9);
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX34220723.jpg");
    background-repeat: no-repeat;
    filter: grayscale(30%);
}

.card {
    overflow:hidden;
    margin: 0 auto;
    cursor:pointer;
}

.card:hover{
    transition:ease-in-out .5s;
    background-color:gainsboro;
    filter:grayscale(30%);
}
    .card img {
        transition: ease-in-out .5s;
        margin-bottom: 25px;
    }
.card:hover img{
    transform:scale(1.2);
}